
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index ::dynamic(~{::main})}">-->

<!--<body>-->
<!--    <main class="row">-->
<!--        <div th:each=" p: ${items}" class="col-sm-4">-->
<!--            <div class="card poly-item text-center">-->
<!--                <div class="card-header text-center">-->
<!--                    <div class="card-title" th:utext="${p.name}" ></div>-->
<!--                </div>-->
<!--                <div class="card-body text-center">-->
<!--                    <a th:href="@{|/product/detail/${p.id}|}">-->
<!--                        <img th:src="@{|/assets/images/${p.image}|}">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="card-footer text-end">-->
<!--                    <b class="float-start">$[[${p.price}]]</b>-->
<!--                    <button class="btn btn-success" th:attr="ng-click=@{|cart.add(${p.id})|}"><i class="bi bi-cart4"></i></button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </main>-->
<!--</body>-->

<!--</html>-->
