<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index ::dynamic(~{::main})}">

<body>
<main>
    <div class="card border-primary" th:fragment="shopping_cart">
        <div class="card-header border-primary bg-primary text-white">
            SHOPPING CART
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart.items">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price | number:2}}</td>
                    <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.quantity" type="number" min="1" style="max-width: 90%;"></td>
                    <td>{{item.quantity * item.price | number:2}}</td>
                    <td>
                        <button ng-click="cart.remove(item.id)" class="btn btn-sm btn-danger">
                            <i class="bi bi-archive-fill"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card-footer">
            <button ng-click="cart.clear()" class="btn btn-danger">
                <i class="bi bi-trash-fill"></i> Clear
            </button>
            <a th:href="@{/order/checkout}" class="btn btn-primary">
                <i class="bi bi-bag-plus"></i> CheckOut
            </a>
        </div>
    </div>
</main>
</body>
</html>